@model PIMES_DMS.Models.IssueModel

@{
    ViewData["Title"] = "ValidateView";
}

<h1>Validation and Verification</h1>

<hr />
<div class="d-flex" style="height:500px">
    <div class="w-50 h-100">

        <table class="table">
            <tr>
                <th>
                    Issue Creator:
                </th>
                <td>
                    @Model.IssueCreator
                </td>
            </tr>
            <tr>
                <th>
                    Issue #:
                </th>
                <td>
                    @Model.IssueNo
                </td>
            </tr>
            <tr>
                <th>
                    Date Found:
                </th>
                <td>
                    @Model.DateFound
                </td>
            </tr>
            <tr>
                <th>
                    Product:
                </th>
                <td>
                    @Model.Product
                </td>
            </tr>
            <tr>
                <th>
                    Serial #:
                </th>
                <td>
                    @Model.SerialNo
                </td>
            </tr>
            <tr>
                <th>
                    Affected P/N:
                </th>
                <td>
                    @Model.AffectedPN
                </td>
            </tr>
            <tr>
                <th>
                    Description:
                </th>
                <td>
                    @Model.Desc
                </td>
            </tr>
            <tr style="height:auto">
                <th>
                    Problem Description:
                </th>
                <td>
                    @Model.ProbDesc
                </td>
            </tr>
        </table>
    </div>
    <div class="w-50 h-100 d-block justify-content-center" style="background-color:grey; border:3px solid">
        <div class="d-block w-100 mt-3 align-self-center" style="height:10%">
            <div class="w-100 d-flex justify-content-center">
                <p style="font-weight:bold">
                    VALIDATION FORM
                </p>
            </div>          
        </div>
        <form asp-controller="Validation" asp-action="SubmitValidation">
            <input type="hidden" asp-for="IssueID" name="id" />
            <div class="d-block">
                <label style="margin-left:60px; font-weight:bold">Control Number:</label>
                <input style="margin-left:10px" name="controlno" />
            </div>
            <div class="d-block mt-3 w-100">
                <label class="align-self-center" style="margin-left:60px; font-weight:bold">Attachment:</label>
                <select class="h-100 w-25 text-center" style="margin-left:10px" name="validation">
                    <option value="CAPA">
                        CAPA
                    </option>
                    <option value="8D">
                        8D
                    </option>
                </select>
                <input style="width:35%; height:100%" type="file" name="valrep" />
            </div>
            <div class="mt-3 d-flex row">
                <label style="margin-left:60px; font-weight:bold">Validation Summary Report:</label>
                <div class="mt-1 d-flex justify-content-center">
                    <textarea class="w-75 mt-2" style="height:250px; max-height:250px; min-height:250px" name="valsumrep">Report here</textarea>
                </div>
            </div>
            <div class="mt-2 w-100 d-flex justify-content-center">
                <input type="submit" value="Submit" class="btn btn-primary w-50 h-50"/>
            </div>
        </form>
    </div>
</div>


