@model IEnumerable<PIMES_DMS.Models.IssueModel>

@{
    ViewData["Title"] = "List of Claims";
    var mod = Model.OrderByDescending(j => j.DateCreated).ToList();

    string? Role = TempData["Role"] as string;
    TempData.Keep();

}
@section scripts {
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                searching: true,
                lengthChange: false,
                pageLength: 4,
                order: [],
                ordering: false
            });
        });
    </script>
}

<div class="container">
    <h1 class="w-100 text-center">Claims List</h1>
    <hr />
    <div class="col-sm-12 col-md-12">
        <table class="table table-bordered table-striped text-center align-content-center" id="myTable">
            <thead>
                <tr>
                    <th>
                        Issue#
                    </th>
                    <th class="desktop-only">
                        Creator
                    </th>
                    <th class="desktop-only">
                        Found
                    </th>
                    <th class="desktop-only">
                        Created
                    </th>
                    <th>
                        Product
                    </th>
                    <th class="desktop-only">
                        Problem Description
                    </th>
                    <th style="width:5%" class="desktop-only">
                        Ack.
                    </th>
                    <th style="width:5%" class="desktop-only">
                        Val.
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in mod)
                {
                    <tr style="height:30px">
                        <td>
                            @Html.DisplayFor(modelItem => item.IssueNo)
                        </td>
                        <td class="desktop-only">
                            @Html.DisplayFor(modelItem => item.IssueCreator)
                        </td>
                        <td class="desktop-only">
                            @item.DateFound.ToShortDateString()
                        </td>
                        <td class="desktop-only">
                            @item.DateCreated.ToShortDateString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td class="w-25 desktop-only">
                            <textarea class="w-100" style="min-height:auto; max-height:100px" readonly>@item.ProbDesc</textarea>
                        </td>
                        @{
                            if (item.Acknowledged)
                            {
                                <td style="background-color:limegreen" class="desktop-only">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                    </svg>
                                </td>
                            }
                            else
                            {
                                <td style="background-color:red" class="desktop-only">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                    </svg>
                                </td>
                            }
                        }
                        @{
                            if (item.ValidatedStatus)
                            {
                                <td style="background-color:limegreen" class="desktop-only">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                    </svg>
                                </td>
                            }
                            else
                            {
                                <td style="background-color:red" class="desktop-only">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                    </svg>
                                </td>
                            }
                        }
                        <td>
                            <div class="d-flex justify-content-around">
                                @{
                                    string textSetter = "Details";

                                    if (Role == "Admin")
                                    {
                                        textSetter = "Ack/VR";
                                        <a class="btn btn-success" style="width:90px" asp-controller="Issue" asp-action="EditIssueView" asp-route-id="@item.IssueID"> Edit </a>
                                    }

                                }
                                <a class="btn btn-primary" asp-controller="Issue" asp-action="IssueDetails" asp-route-id="@item.IssueID">@textSetter</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
