@using System.Globalization
@{
    ViewData["Title"] = "Dashboard";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;

    List<IssueModel>? DataForTat = ViewData["DataForTat"] as List<IssueModel>;

    var m = @Html.Raw(TempData["Months"]);
    TempData.Keep();

    string? EN = TempData["EN"] as string;
    string? Role = TempData["Role"] as string;
    TempData.Keep();

    if (EN!.ToString() == "" || Role!.ToString() == "")
    {
        Url.Action("Login", "Login");
    }
}

@functions
{
    public static TimeSpan GetBusinessDays(DateTime startDate, DateTime endDate)
    {
        int totalDays = (int)(endDate - startDate).TotalDays;
        int businessDays = 0;

        for (int i = 0; i <= totalDays; i++)
        {
            DateTime currentDate = startDate.AddDays(i);
            if (currentDate.DayOfWeek != DayOfWeek.Saturday && currentDate.DayOfWeek != DayOfWeek.Sunday)
            {
                businessDays++;
            }
        }

        return TimeSpan.FromDays(businessDays);
    }
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ATS QA - Dashboard</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/PIMES_DMS.styles.css" asp-append-version="true" />
        <link rel="icon" href="~/favicon.ico" type="image/x-icon" sizes="32x32">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        </head>
    <body>
        <form class="align-content-center" asp-controller="Issue" asp-action="ArchiveFunct" id="myForm">
            <header class="mb-3">
                <nav class="navbar navbar-expand-lg navbar-light" style="background-color:blue">
                    <div class="container-fluid">
                        <div class="navbar-brand d-flex">
                            <div class="d-flex align-items-center">
                                <img style="height:30px; margin-right:10px" src="~/photos/pimeslogo.png" />
                            </div>
                            <div class="d-flex align-items-center">
                                <a class="text-white billsfont text-decoration-none overflow-hidden" asp-controller="Home" asp-action="AdminHome">P. IMES Corp.</a>
                            </div>
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-link active text-white" aria-current="page" asp-controller="Home" asp-action="AdminHome">Home</a>
                                <a class="nav-link active text-white" aria-current="page" asp-controller="Dashboard" asp-action="DashView">Dashboard</a>
                                @{
                                    if (Role == "Admin")
                                    {
                                        <a class="nav-link active text-white" asp-controller="Admin" asp-action="AdminView">Accounts</a>
                                        <a class="nav-link active text-white" asp-controller="Notif" asp-action="ShowNotif"> Notification</a>
                                    }
                                }
                                <select class="bg-transparent text-white bg-primary border-0 text-start" style="width:100px" onchange="submitForm()" name="aval">
                                    <option class="bg-primary border-primary">More</option>
                                    <option class="bg-primary border-primary" value="Invalid">Invalid Claims</option>
                                    <option class="bg-primary border-primary" value="Valid">Valid Claims</option>
                                    <option class="bg-primary border-primary" value="8D">8D Reps.</option>
                                    <option class="bg-primary border-primary" value="RMA">RMA</option>
                                </select>
                            </div>
                            <div class="d-flex float-end">
                                <div class="billsfont text-white text-center d-flex">
                                    <div class="align-self-center">
                                        @EN
                                    </div>
                                    <div class="align-self-center mx-1">
                                        @*&#x267F;*@
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                                            <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                                            <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="align-items-center text-white d-flex justify-content-center" style="margin-left:15px">
                                    <a class="btn btn-danger" asp-controller="Login" asp-action="Logout">Logout</a>
                                    <img style="height:30px; margin-inline:10px" src="~/photos/ats wbg.png" />
                                </div>
                            </div>
                        </div>

                    </div>
                </nav>
            </header>
        </form>

    <div class="container-fluid row mx-0">
        <div class="flex-column col-sm-12 col-md-8 mb-2">
            <div class="">
                <form asp-controller="Dashboard" asp-action="RecentYear" id="dashForm">
                    <div class="">
                        <select class="form-select border-primary w-100" id="dateSelect" onchange="Submit()" name="year">
                            <option>Select Year</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card border-0 h-100" style="background-color:#E9E4E9">
                        <h4 class="card-header text-center" style="background-color:#D2D2D2">Validation Status</h4>
                        <div class="pb-2">
                            <canvas id="pieChartValid" class=""></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card border-0 h-100" style="background-color:#E9E4E9">
                        <h4 class="card-header text-center" style="background-color:#D2D2D2">3F1S</h4>
                        <div class="pb-2">
                            <canvas id="fs" class=""></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-column col-sm-12 col-md-4">
            <div class="w-100 mb-2">
                <div class="card w-100" style="background-color:#E9E4E9">
                    <h4 class="card-header text-center" style="background-color:#D2D2D2">CSat Performance</h4>
                    <div>
                        <canvas id="bar" class="w-100"></canvas>
                    </div>
                </div>
            </div>
            <div class="w-100">
                <div class="card w-100" style="background-color:#E9E4E9">
                    <h4 class="card-header text-center" style="background-color:#D2D2D2">VR Turn Around Time</h4>
                    <div class="legend-item d-flex justify-content-center justify-content-evenly">
                        <div class="d-flex">
                            <div class="legend-color align-self-center" style="background-color:#2F852B; border: 1px solid black"></div>
                            <div class="legend-label align-self-center">Valid</div>
                        </div>
                        <div class="d-flex">
                            <div class="legend-color align-self-center" style="background-color:#E83800; border: 1px solid black"></div>
                            <div class="legend-label align-self-center">Invalid</div>
                        </div>
                        <div class="d-flex">
                            <div class="legend-color align-self-center" style="background-color:yellow; border: 1px solid black"></div>
                            <div class="legend-label align-self-center">Overdue Invalid</div>
                        </div>
                        <div class="d-flex">
                            <div class="legend-color align-self-center" style="background-color:maroon; border: 1px solid black"></div>
                            <div class="legend-label align-self-center">Deadline</div>
                        </div>
                    </div>

                    <canvas id="responsive" class=""></canvas>
                </div>
            </div>
        </div>
    </div>

    <footer class="loginfooter">
        <p class="mx-5 text-white">
            &copy; 2023 - P. IMES - ATS QA
        </p>
    </footer>
</body>
</html>

<script>
    var bgiv = '#77DD76';
    var bciv = '#77DD76';
    var bgv = '#EB472F';
    var bcv = '#EB472F';
</script>

<script>
    function Submit() {
        document.getElementById('dashForm').submit();
    }
</script>

<script>

    var select = document.getElementById("dateSelect");

    var currentYear = new Date().getFullYear();

    for (var year = currentYear; year >= 2022; year--) {
        var option = document.createElement("option");

        option.text = year;
        option.value = year;

        select.appendChild(option);
    }
</script>

<script>
    var currentDate = new Date();
    var currentMonth = currentDate.getMonth();

    var months = [];
    var monthNames = [
        'January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'
    ];

    for (var i = 0; i <= @m; i++) {
        months.push(monthNames[i]);
    }
</script>

<script>
    var res = document.getElementById('responsive').getContext('2d');
    var dataForTat = @Html.Raw(ViewBag.DataForTat);

    var dataset = [];

    for (var i = 0; i < dataForTat.length; i++) {
        var bg = bgiv;
        var bc = bciv;

        if (dataForTat[i].Validation === 'Valid') {
            bg = bgv;
            bc = bcv;
        }
        else if (dataForTat[i].Validation === 'Invalid' && dataForTat[i].Days[dataForTat[i].Days.length - 1] > 2) {
            bg = 'yellow';
            bc = '#D43B1B';
        }

        var data = {
            label: dataForTat[i].Validation,
            backgroundColor: bg,
            borderColor: 'black',
            borderWidth: 1,
            data: dataForTat[i].Days,
        };

        dataset.push(data);
    }

    var chartData = {
        labels: months,
        datasets: dataset
    };

    var maxDays = Math.max(...dataForTat.map(item => Math.max(...item.Days))) + 3;

    var chart = new Chart(res, {
        type: 'bar',
        data: chartData,
        options: {
            responsive: true,
            scales: {
                y: {
                    max: maxDays,
                    beginAtZero: true,
                    grid: {
                        color: function (context) {
                            if (context.tick.value === 3) {
                                return 'maroon';
                            }
                            return 'rgba(0, 0, 0, 0.1)';
                        }
                    },
                    ticks: {
                        color: 'black',
                        precision: 0,
                    },
                    title: {
                        display: true,
                        text: 'Days',
                        color: 'black',
                    }
                },
                x: {
                    ticks: {
                        color: 'black',
                    },
                    barPercentage: 1, // Set barPercentage to 1
                    categoryPercentage: 1, // Set categoryPercentage to 1
                }
            },
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('bar').getContext('2d');
        var chart = new Chart(ctx, {
            data: {
                labels: months,
                datasets: [
                    {
                        type: 'line',
                        label: 'Trend Invalid',
                        data: @Html.Raw(ViewBag.LineInvalid),
                        backgroundColor: bgiv,
                        borderColor: 'black',
                        borderWidth: 1,
                        pointStyle: 'circle'
                    },
                    {
                        type: 'line',
                        label: 'Trend Valid',
                        data: @Html.Raw(ViewBag.LineValid),
                        backgroundColor: bgv,
                        borderColor: 'black',
                        borderWidth: 1,
                        pointStyle: 'circle'
                    },
                    {
                        type: 'bar',
                        label: 'Valid',
                        data: @ViewBag.valid,
                        backgroundColor: bgv,
                        borderColor: 'black',
                        borderWidth: 1,
                        stack: 'stack1',
                        pointStyle: 'rect'
                    },
                    {
                        type: 'bar',
                        label: 'Invalid',
                        data: @ViewBag.invalid,
                        backgroundColor: bgiv,
                        borderColor: 'black',
                        borderWidth: 1,
                        stack: 'stack1',
                        pointStyle: 'rect'
                    },
                ],
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        max: Math.max(...@ViewBag.LineValid, ...@ViewBag.LineInvalid) + 2,
                        beginAtZero: true,
                        grid: {
                        },
                        ticks: {
                            color: 'black',
                            precision: 0
                        },
                        title: {
                            color: 'black',
                            display: true,
                            text: 'QI Count'
                        },
                    },
                    x: {

                        ticks: {
                            color: 'black',
                        }
                    }
                },
                plugins: {
                    legend: {
                        labels: {
                            usePointStyle: true,
                        }
                    }
                }
            }

        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var data = [@ViewBag.invalidforpie, @ViewBag.validforpie];
        var invalid = 'Invalid';
        var valid = 'Valid';
        var labels = [invalid, valid];

        var pp = document.getElementById('pieChartValid').getContext('2d');
        var piechart = new Chart(pp, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [
                    {
                        data: data,
                        backgroundColor: [
                            bgiv,
                            bgv,
                        ],
                        borderColor: [
                            'black'
                        ],
                        borderWidth: 2,
                        pointStyle: 'circle'
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        labels: {
                            usePointStyle: true,
                        }
                    }
                },
                onClick: function (event, elements) {
                    if (elements.length > 0) {
                        var dataIndex = elements[0].index;
                        var selectedItem = labels[dataIndex];

                        switch (selectedItem) {
                            case invalid:

                                window.location.href = '@Url.Action("GetInvalids", "Dashboard")';
                                break;
                            case valid:

                                window.location.href = '@Url.Action("GetValids", "Dashboard")';
                                break;

                            default:
                                break;
                        }
                    }
                },

            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var data = @ViewBag.fffs;
        var labels = ['Function', 'Form', 'Fit', 'Safety'];

        var fs = document.getElementById('fs').getContext('2d');
        var fsChart = new Chart(fs, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [
                    {
                        data: data,
                        backgroundColor: [
                            '#E83800',
                            '#3BD1B8',
                            '#ACEB63',
                            '#FFF85E'
                        ],
                        borderColor: [
                            'black'
                        ],
                        borderWidth: 2,
                        pointStyle: 'circle'
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        labels: {
                            usePointStyle: true,
                        }
                    }
                },
                onClick: function (event, elements) {
                    if (elements.length > 0) {
                        var dataIndex = elements[0].index;
                        var selectedItem = labels[dataIndex];

                        switch (selectedItem) {
                            case 'Form':

                                window.location.href = '@Url.Action("GetInvalids", "Dashboard")';
                                break;

                            case 'Function':

                                window.location.href = '@Url.Action("GetValids", "Dashboard")';
                                break;

                            case 'Fit':

                                window.location.href = '@Url.Action("GetValids", "Dashboard")';
                                break;

                            case 'Safety':

                                window.location.href = '@Url.Action("GetValids", "Dashboard")';
                                break;

                            default:
                                break;
                        }
                    }
                },
            }
        });
    });
</script>