@model IEnumerable<IssueModel>
@{
    ViewData["Title"] = "RC, CAPA & VERIFICATION";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string? role = TempData["Role"] as string;
    TempData.Keep();

    IEnumerable<Vermodel>? vers = ViewData["Stat"] as IEnumerable<Vermodel>;
}

<form asp-controller="RCV" asp-action="Search" method="get">
<div class="w-100 d-flex justify-content-between">
    <div class="w-50">
        <h1>RC, CAPA & VERIFICATION</h1>
    </div>
   <div class="w-50 d-flex justify-content-end">
        <div>
             <input class="form-control w-100" placeholder="Search" name="ss" />
             <input type="submit" hidden />
        </div>
   </div>
</div>
</form>

<hr />
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IssueCreator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControlNumber)
            </th>
            <th>
                On-Going
            </th>
            <th>
                Open
            </th>
            <th>
                Closed
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            int going = vers!.Count(j => j.ControlNo == item.ControlNumber && j.Status == "g");
            int open = vers!.Count(j => j.ControlNo == item.ControlNumber && j.Status == "o");
            int closed = vers!.Count(j => j.ControlNo == item.ControlNumber && j.Status == "c");

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueCreator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ControlNumber)
                </td>
                <td>
                    @{
                        Write(going);
                    }
                </td>                    
                <td>
                    @{
                        Write(open);
                    }
                </td>
                <td>
                    @{
                        Write(closed);
                    }
                </td>
                <td>
                    @{
                        if (item.HasAction)
                        {
                            <div class="d-flex">
                                @if (role == "ADMIN")
                                {
                                    <div>
                                        <a class="btn btn-secondary w-100" asp-controller="RCV" asp-action="RCVView" asp-route-id="@item.IssueID">Add Action</a>
                                    </div>
                                }
                                <div style="margin-left:10px">
                                    <a class="btn btn-success w-100" asp-controller="RCV" asp-action="RCVDet" asp-route-id="@item.ControlNumber">View</a>
                                </div>                               
                            </div>
                        }
                        else
                        {
                            if (role == "ADMIN")
                            {
                                <div class="d-flex">
                                    <a class="btn btn-primary" asp-controller="RCV" asp-action="RCVView" asp-route-id="@item.IssueID">Create Summary</a>
                                </div>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@functions {
    public int GetStatus(string ID, string stat)
    {

        return 0;
    }
}

