@{
    ViewData["Title"] = "ATS QA - HOME";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string? Role = TempData["Role"] as string;

    TempData.Keep("Role");

    string? Warning = TempData["Existing8D"] as string;
    TempData.Remove("Existing8D");
}

<div class="container"> 
    <div class="w-100 d-flex justify-content-start align-items-center h-25 mb-2">
        <h1 class="align-self-center w-50 h-100 my-0" style="font-family:Impact; text-align:center; font-size:5vw">CSAT PORTAL</h1>
        <div class="flex-column w-50">
            <marquee class="bg-black border-dark text-white w-100 h-100 my-0" style="border:5px solid">
                Welcome to CSat Portal! Do not hesitate to contact ATS-QA if you have concern or feedback. Have a great day!
            </marquee>
            <form asp-controller="Home" asp-action="Search">
                <div class="d-flex w-100 border-dark text-center">
                    <select class="w-25 form-select border-dark mx-3" name="type">
                        <option value="IssueDetail">Issue Details</option>
                        <option value="VR">Validation Report</option>
                        <option value="CAPA">CAPA</option>
                    </select>
                    <input class="w-75 form-control border-dark" placeholder="Search" name="ss"/>
                </div>
                <input type="submit" hidden/>
            </form>
        </div>
    </div>
    
    @if (Warning != null)
    {
        <div class="d-flex justify-content-center" >
            <p class="text-center w-75" style="border:2px solid; border-color:hotpink; background-color:lightpink" role="alert">@Warning</p>
        </div>
    }
    <div class="row">
        <div class="col-sm-12 col-md-4 flex-column mb-3">
            @if (Role == "Admin")
            {
                <div class="d-flex justify-content-center">
                    <a asp-controller="Issue" asp-action="SubmitIssueView" class="btn btn-primary text-center w-75 mt-4">
                        <div class="d-flex justify-content-start">
                            Submit Claim
                        </div>
                    </a>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary text-center w-75 mt-4" onclick="Open8DModal()">
                        <div class="d-flex justify-content-start">
                            Submit 8D
                        </div>
                    </button>
                </div>
            }
            <div class="d-flex justify-content-center">
                <a asp-controller="Issue" asp-action="IssuesList" class="btn btn-primary text-center w-75 mt-4">
                    <div class="d-flex justify-content-between">
                        <div>
                            Claims
                        </div>
                        <div>
                            <span class="badge text-bg-secondary bg-danger">@ViewBag.Claims</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="d-flex justify-content-center">
                <a asp-controller="Issue" asp-action="AcknowledgedIssues" class="btn btn-primary text-center w-75 mt-4">
                    <div class="d-flex justify-content-between">
                        <div>
                            On-Process
                        </div>
                        <div>
                            <span class="badge text-bg-secondary bg-danger">@ViewBag.OnProcess</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="d-flex justify-content-center">
                <a asp-controller="Validation" asp-action="ForGERVal" class="btn btn-primary text-center w-75 mt-4">
                    <div class="d-flex justify-content-between">
                        <div>
                            E.R.A
                        </div>
                        <div>
                            <span class="badge text-bg-secondary bg-danger">@ViewBag.ERA</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="d-flex justify-content-center">
                <a asp-controller="ER" asp-action="ERView" class="btn btn-primary text-center w-75 mt-4">
                    <div class="d-flex justify-content-start">
                        Emergency Responses
                    </div>
                </a>
            </div>
            <div class="d-flex justify-content-center">
                <a asp-controller="RCV" asp-action="RCVList" class="btn btn-primary text-center w-75 mt-4">
                    <div class="d-flex justify-content-between">
                        <div>
                            RC, CAPA & Ver.
                        </div>
                        <div>
                            <span class="badge text-bg-secondary bg-danger">@ViewBag.RC</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div class="text-center">
                <div>
                    <div style="font-weight:bold; font-size:20px">
                        PENDING
                    </div>
                    <div class="table-data">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ISSUE #</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IEnumerable<IssueModel>? InComingIssue = ViewData["InComingIssue"] as IEnumerable<IssueModel>;
                                    if (InComingIssue != null)
                                    {
                                        foreach (var obj in InComingIssue!)
                                        {
                                            <tr>
                                                <td>
                                                    @obj.IssueNo
                                                </td>
                                                <td>
                                                    @obj.DateCreated.ToString("MM/dd/yyy")
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div class="text-center">
                <div>
                    <div style="font-weight:bold; font-size:20px">
                        ON PROCESS
                    </div>
                    <div class="table-data">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ISSUE #</th>
                                    <th>DAYS</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IEnumerable<IssueModel>? Progress = ViewData["OnProgressIssue"] as IEnumerable<IssueModel>;
                                    if (Progress != null)
                                    {
                                        foreach (var obj in Progress!)
                                        {
                                            DateTime dateack = Convert.ToDateTime(obj.DateAck);
                                            DateTime today = Convert.ToDateTime(DateTime.Now);
                                            TimeSpan res = today - dateack;
                                            int resDay = res.Days;

                                            if (resDay >= 4)
                                            {
                                                <tr class="bg-danger">
                                                    <td>
                                                        @obj.IssueNo
                                                    </td>
                                                    <td>
                                                        @{
                                                            Write(resDay);
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            else if (resDay == 3 || resDay == 2)
                                            {
                                                <tr class="bg-success">
                                                    <td>
                                                        @obj.IssueNo
                                                    </td>
                                                    <td>
                                                        @{
                                                            Write(resDay);
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            else if (resDay <= 1)
                                            {
                                                <tr class="bg-primary">
                                                    <td>
                                                        @obj.IssueNo
                                                    </td>
                                                    <td>
                                                        @{
                                                            Write(resDay);
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-content w-50 h-50" id="8dmodal">
    <form asp-controller="Home" asp-action="CheckFor8D" enctype="multipart/form-data" method="post">
    <button class="btn btn-danger modal-close" onclick="Close8DModal()">Close</button>
    <p class="modal-title text-center">Submit 8D Report</p>
    <hr />
    <div class="w-100 modal-body" style="height:80%">
        <div class="input-group flex-column w-100">
            <label class="form-label">Control Number</label>
            <input class="w-50 form-control" name="controlno" required/>
        </div>
        <div class="input-group flex-column w-100 mt-2">
            <label class="form-label">8D File</label>
            <input class="w-50 form-control" type="file" accept="application/pdf" name="attachment" required/>
        </div>       
    </div>
        <div class="w-100 d-flex justify-content-end mt-auto">
            <input type="submit" class="btn btn-primary w-50" />
        </div>
    </form>
</div>

@*<div class="modal-content" id="warning8D">
    <button class="modal-close btn btn-danger w-25 h-25" onclick="CloseWarning()">x</button>
    <h4 class="modal-header text-center">Warning</h4>
    <div class="modal-body w-100" style="height:80%">
        <p class="text-wrap">Action was not successful, the control number you have provided already contains an attachment.</p>
    </div>
</div>*@

<script>
    //function OpenWarning()
    //{
    //    var Warning8D = document.getElementById('warning8D');

    //    Warning8D.style.display = "block";
    //}

    //function CloseWarning()
    //{
    //    var Warning8D = document.getElementById('warning8D');

    //    Warning8D.style.display = "none";
    //}

    function Open8DModal()
    {
        var modal = document.getElementById('8dmodal');

        modal.style.display = "block";
    }

    function Close8DModal() 
    {
        var modal = document.getElementById('8dmodal');

        modal.style.display = "none";
    }
</script>
